<!-- Tab Content -->
                        <div class="card-body px-0 mx-3">
                            <div class="tab-content" id="permissionTabsContent">

                                <!-- Clinic -->
                                <div class="tab-pane fade show active" id="dashboard_wid" role="tabpanel"
                                    aria-labelledby="dashboard-wid-tab">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <h6 class="fw-bold mb-0">Dashboard and Widgets Permissions</h6>
                                        <div class="form-check form-check-md">
                                            <input class="form-check-input" type="checkbox" id="select-all">
                                            <label for="select-all">Allow All</label>
                                        </div>
                                    </div>
                                    <div class="table-responsive border">
                                        <table class="table table-nowrap">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Feature</th>
                                                    <th>View</th>
                                                    <th>Add</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Staff Role Count Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">IPD Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">OPD Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Pharmacy Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Radiology Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Blood Bank Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Ambulance Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Yearly Income & Expense Chart</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Monthly Income & Expense Chart </p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Notification Center</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">General Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Expenses Widget </p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="mt-4 text-end">
                                        <button type="submit" class="btn btn-primary px-4">
                                            <i class="fa fa-save me-1"></i> Save
                                        </button>
                                    </div>
                                </div>

                                <!-- Other -->
                                <div class="tab-pane fade" id="bill" role="tabpanel" aria-labelledby="bill-tab">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <h6 class="fw-bold mb-0">Billing Permissions</h6>
                                        <div class="form-check form-check-md">
                                            <input class="form-check-input" type="checkbox" id="select-all">
                                            <label for="select-all">Allow All</label>
                                        </div>
                                    </div>
                                     <div class="table-responsive border">
                                        <table class="table table-nowrap">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Feature</th>
                                                    <th>View</th>
                                                    <th>Add</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Staff Role Count Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">IPD Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">OPD Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Pharmacy Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Radiology Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Blood Bank Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Ambulance Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Yearly Income & Expense Chart</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Monthly Income & Expense Chart </p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Notification Center</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">General Income Widget</p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p class="fw-medium text-dark">Expenses Widget </p>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox" checked>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-check form-check-md">
                                                            <input class="form-check-input" type="checkbox">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="mt-4 text-end">
                                        <button type="submit" class="btn btn-primary px-4">
                                            <i class="fa fa-save me-1"></i> Save
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Tab Content -->